Api/Connected Services/ServiceReference1/ReverseString.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReverseString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sentence" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReverseStringSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="ReverseStringSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:portType name="ReverseStringSoap">
    <wsdl:operation name="GetReverseString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reverse the input sentence </wsdl:documentation>
      <wsdl:input name="ReverseString" message="tns:ReverseStringSoapIn" />
      <wsdl:output name="ReverseString" message="tns:ReverseStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReverseStringSoap" type="tns:ReverseStringSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReverseString">
      <soap:operation soapAction="http://tempuri.org/ReverseString" style="document" />
      <wsdl:input name="ReverseString">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReverseString">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReverseStringSoap12" type="tns:ReverseStringSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReverseString">
      <soap12:operation soapAction="http://tempuri.org/ReverseString" style="document" />
      <wsdl:input name="ReverseString">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReverseString">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReverseString">
    <wsdl:port name="ReverseStringSoap" binding="tns:ReverseStringSoap">
      <soap:address location="http://localhost:57200/ReverseString.asmx" />
    </wsdl:port>
    <wsdl:port name="ReverseStringSoap12" binding="tns:ReverseStringSoap12">
      <soap12:address location="http://localhost:57200/ReverseString.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>